/* garamond font styling */
.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
}

.cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

.cormorant-garamond-bold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
}

.cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
}

.cormorant-garamond-regular-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
}

.cormorant-garamond-medium-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
}

.cormorant-garamond-semibold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
}

.cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
}

/* ACTUAL webpage styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: white;
    overscroll-behavior: none;
}

/* header */
.header {
    width: auto;
    height: auto;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 0.3em solid #FFDD00;
    background-color: #FFDD00;
    padding: auto;
}

.left-link,
.right-link {
    font-family: 'Quentin Blake';
    font-size: 2em;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.left-link:hover,
.right-link:hover {
    text-decoration: underline;
}

/* Wrapper for textbox and menu */
.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

/* Styling for the textbox */
.textbox {
    width: 115%;
    height: 30em;
    background-color: white;
    border: 0.3em solid #FFDD00;
    padding: 2em;
    margin: 4em;
    border-radius: 1em;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.2em;
    color: black;
    overflow: auto;
}

p {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.6em;
    margin-top: 0.2em;
}

/* Adjust menu size */

/* menu styling*/
.menu {
    font-family: "Quentin Blake", serif;
    font-size: larger;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu div {
    margin: 0;
    padding-top: 4em;
}

/* HERE HERE HERE */
.menu a {
    list-style: none;
    margin-left: 0em;
    color: black;
}

.menu :hover {
    text-decoration: underline;
}

.seed-phase,
.quote {
    width: 20em;
    height: 19em;
    border-radius: 1em;
    color: white;
    margin-top: 1em;
    font-size: 1em;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 2em;
}

.seed-phase a,
.quote a {
    font-size: 3em;
    line-height: 130%;
    text-decoration: none;
}

.heading a {
    font-size: x-large;
    padding: 1em;
}

.seed-phase {
    background-color: #EB4460;
}

.quote {
    background-color: #FFDD00;
}

.heading {
    font-family: 'Quentin Blake';
    font-size: 2em;
}